.background {
  display: flex;
  background-color: teal;
  background-size: cover;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 333px;
  height: 280px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  flex-shrink: 1;
}

.result {
  font-size: 23.2px;
  font-weight: bold;
  text-align: end;
  padding: 10px;
  height: 50px;
  border-radius: 10px;
  flex-shrink: 1;
}

.buttons {
  margin-top: 6px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-shrink: 1;
}

.button-column {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 5px;
  flex-shrink: 1;
}

button {
  width: 60px;
  cursor: pointer;
  border-radius: 100px;
  font-size: 33px;
  font-family: "Work Sans", sans-serif;
  flex-shrink: 1;
}

.zero-button {
  width: 125px;
  cursor: pointer;
  border-radius: 100px;
  font-size: 33px;
  font-family: "Work Sans", sans-serif;
  flex-shrink: 1;
}

.op-button {
  width: 60px;
  cursor: pointer;
  border-radius: 100px;
  background-color: orange;
  flex-shrink: 1;
}

.delete-button {
  width: 60px;
  cursor: pointer;
  border-radius: 100px;
  font-size: 33px;
  font-family: "Work Sans", sans-serif;
  background-color: silver;
  flex-shrink: 1;
}

.solve-button {
  width: 60px;
  height: 93px;
  cursor: pointer;
  border-radius: 100px;
  font-size: 33px;
  background-color: #2196f3;
  flex-shrink: 1;
}

.button:hover, .zero-button:hover {
  background-color: #7b7575;
}

.op-button:hover {
  background-color: darkorange;
}

.delete-button:hover {
  background-color: darkgray;
}

.solve-button:hover {
  background-color: #1976d2;
}


@media (max-width: 768px) {
  .box {
    flex-shrink: 1;
  }
}
@media (max-width: 300px) {
  .background {
    flex-direction: column;
  }

  .box {
    max-width: 100%;
    height: auto;
  }

  .result {
    font-size: 18px;
    height: auto;
  }

  .buttons {
    flex-wrap: wrap;
    justify-content: center;
  }

  button {
    width: 50px;
    font-size: 28px;
  }

  .solve-button {
    width: 50px;
    font-size: 28px;
  }
  .zero-button {
    width: 50px;
    font-size: 28px;
  }
  .op-button {
    width: 50px;
    font-size: 28px;
  }
  #special {
    margin-right: 0px;
  }
}
